.header__square-pic {
  animation: rotate 20s linear infinite;
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  transform: rotate(-15deg);
  background-color:  #2F80ED;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
