.cards__description {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Inter', arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
