.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  text-decoration: none;
  opacity: 1;
  color: #2F80ED;
  line-height: 51px;
  font-family: 'Inter', arial, sans-serif;
  transition: 0.6s linear;
  z-index: 1;
}

.feynman__link:hover {
  transition: 0.6s linear;
  opacity: 0.6;
}
