.section-subtitle {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Inter', arial, sans-serif;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 2;
}
