.table__text {
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 120%;
}

.table__text:nth-child(2) {
  margin-bottom: 20px;
}

.table__text:nth-child(6) {
  margin-bottom: 20px;
}
