.header__subtitle {
  position: absolute;
  width: 388px;
  height: 75px;
  left: 64px;
  top: 595px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  opacity: 1;
}
