.header__subtitle {
  position: absolute;
  width: 388px;
  height: 75px;
  left: 64px;
  bottom: 30px;
  margin-top: 0;
  margin-bottom: 0;
  
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  opacity: 1;
}
