.section-subtitle_theme_dark {
    color: #FFFFFF;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    z-index: 1;
}
