.section-title_theme_dark {
  color: #FFFFFF;
  position: relative;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Inter', arial, sans-serif;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  z-index: 2;
}
