.header__title {
  align-self: center;
  margin-left: 64px;
  width: 730px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Inter', arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 102px;
  line-height: 96px;
}
