.rotation {
    animation: rotate 20s linear infinite;
}
.kaufman__triangle {
    animation: rotate 20s linear infinite;
}
@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
