@import "../blocks/header/header.css";
@import "../blocks/header/__logo/header__logo.css";
@import "../blocks/header/__logo/__image/header__logo__image.css";
@import "../blocks/header/__title/header__title.css";
@import "../blocks/header/__subtitle/__subtitle.css";
@import "../blocks/header/__square-pic/header__square-pic.css";
@import "../blocks/description/description.css";
@import "../blocks/techniques/techniques.css";
@import "../blocks/video/video.css";
@import "../blocks/oakley/oakley.css";
@import "../blocks/feynman/feynman.css";
@import "../blocks/digits/digits.css";
@import '../blocks/khan/khan.css';
@import "../blocks/kaufman/kaufman.css";
@import "../blocks/resources/resources.css";
@import "../blocks/footer/footer.css";
@import "../blocks/header/__main-illustration/header__main-illustration.css";
@import "../blocks/header/__subtitle/__link/header__subtitle_link.css";
@import "../blocks/description/__two-columns/__brief/two-columns__brief.css";
@import "../blocks/description/__two-columns/two-columns.css";
@import "../blocks/description/__two-columns/__main-text/two-columns__main-text.css";
@import "../blocks/description/__two-columns/__paragraph/two-columns__paragraph.css";
@import "../blocks/description/__two-columns/__paragraph/_span-bold/two-columns__paragraph_span-bold.css";
@import "../blocks/techniques/_section_title/section_title.css";
@import "../blocks/techniques/_section_subtitle/section_subtitle.css";
@import "../blocks/techniques/_cards/techniques_cards.css";
@import "../blocks/techniques/_cards/_item/techniques__cards_item.css";
@import "../blocks/techniques/_cards/_image/techniques__cards_image.css";
@import "../blocks/techniques/_cards/_crutch/techniques__card_crutch.css";
@import "../blocks/techniques/_cards/_description/techniques__cards_description.css";
@import "../blocks/techniques/_cards/__title/techniques__cards_title.css";
@import "../blocks/video/__iframes/video__iframes.css";
@import "../blocks/video/__iframes/_iframe/video__iframes_iframe.css";
@import "../blocks/video/__iframes/_iframe/_first/video__iframes_iframe_first.css";
@import "../blocks/video/__iframes/_iframe/_second/video__iframes_iframe_second.css";
@import "../blocks/feynman/feynamnn__wrapper/__wrapper.css";
@import "../blocks/feynman/feynamnn__wrapper/__title/feynmann__title.css";
@import "../blocks/feynman/feynamnn__wrapper/__subtitle/feynmann__subtitle.css";
@import "../blocks/feynman/feynamnn__wrapper/__link/feynmann__link.css";
@import "../blocks/feynman/feynamnn__wrapper/__image/feynamn__image.css";
@import "../blocks/digits/table/table.css";
@import "../blocks/digits/table/table__cell/table__cell.css";
@import "../blocks/digits/table/table__cell/table__text/table__text.css";
@import "../blocks/digits/table/table__cell/table__heading/table__heading.css";
@import "../blocks/digits/table/table__cell/table__crutch_bank/table__crutch_bank.css";
@import "../blocks/khan/khan__container/khan__container.css";
@import "../blocks/khan/khan__container/khan__author/khan__author.css";
@import "../blocks/khan/khan__container/khan__book-container/khan__book-container.css";
@import "../blocks/khan/khan__container/khan__book-container/khan__book-pic/khan__book-pic.css";
@import "../blocks/khan/khan__container/khan__book-container/khan__buy-link/khan__buy-link.css";
@import "../blocks/khan/khan__container/khan__quote/khan__quote.css";
@import "../blocks/khan/khan__container/khan__quote-author/khan__quote-author.css";
@import "../blocks/khan/khan__container/khan__quote-author-subline/khan__quote-author-subline.css";
@import "../blocks/khan/khan__container/khan__title/khan__title.css";
@import "../blocks/kaufman/table/table_white.css";
@import "../blocks/kaufman/table/table__cell_kaufman/table__cell_kaufman.css";
@import "../blocks/kaufman/kaufman__triangle/kaufman__triangle.css";
@import "../blocks/resources/__logo-zone/resources__logo-zone.css";
@import "../blocks/resources/__logo-zone/resources__logo/resources__logo.css";
@import "../blocks/footer/footer__columns/footer__author/footer__author.css";
@import "../blocks/footer/footer__columns/footer__column_copyright/footer__column_copyright.css";
@import "../blocks/footer/footer__columns/footer__column-heading/footer__column-heading.css";
@import "../blocks/footer/footer__columns/footer__column-links/footer__column-links.css";
@import "../blocks/footer/footer__columns/footer__column-links/footer__column-link/footer__column-link.css";
@import "../blocks/footer/footer__columns/footer__columns.css";




html {
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden; /* Prevents horizontal scroll */
}

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.margin-zero {
  margin: 0;
}
